## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe
*.nupkg
*.snupkg

## IDE
.vs/
.vscode/
.idea/
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## OS
.DS_Store
.Spotlight-V100
.Trashes

## Publish
publish/

## Misc
*.swp
*~
